.posts{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
}
.post-content{
  background-color: #fff;
  box-shadow: 0 0 10px (0,0,0,0.1);
}
.container{
  min-height: 100vh;
  background-color: #eee;
}
.post-text{
  padding: 30px;
}

.image{
  width: 280px;
  height: 400px;
}